<footer>
  <small>
    <%= link_to 'Pag principal', root_path %>
  </small>

  <nav>
    <ul>
      <li>
        <%= link_to 'Sobre', '/sobre' %>
      </li>
      <li>
        <%= link_to 'Contato', '/contato' %>
      </li>
    </ul>
  </nav>
</footer>